a {
  text-decoration: none;
  font-family: 'Futura', 'Arial',
    sans-serif;
  font-weight: 500;
  letter-spacing: calc(-49.5/1000 * 1rem);
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  align-items: center;
  padding-left: calc(172px * 0.9);
  padding-right: calc(172px * 0.9);
}

.section:first-child {
  min-height: 100vh;
}

.container {
  margin: calc(144rem / 25.5) 0;
  font-size: calc(108rem / 25.5);
}

.hero {
  background-color: var(--deep-depression-cherry);
}

.hero > div {
  width: 50%;
}

.hero > .container {
  width: 38.2%;
}

h1 {
  font-family: 'Futura', 'Arial',
    sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: calc(-5.94em / 108);
  text-transform: lowercase;
  margin: 0;
  margin-bottom: calc(21em / 108);
}

h2 {
  font-size: calc(66.75em / 108);
  font-weight: 400;
  line-height: calc(89em / 66.75);
  margin: 0;
  margin-bottom: calc(55em / 66.75);
}

h2:first-child {
  margin-bottom: calc(21em / 66.75);
}

h2:last-child {
  margin-bottom: 0;
}

h3 {
  color: var(--warm-neutral);
  font-family: 'Futura', 'Arial',
    sans-serif;
  font-weight: 500;
  font-size: 0.382em;
  line-height: 1em;
  letter-spacing: calc(5.94em / 108);
  text-transform: lowercase;
  margin: 0;
  margin-bottom: calc(21em / 108);
}

p {
  color: var(--warm-neutral);
  font-size: calc(34em / 108);
  line-height: calc(1.618em);
  margin: 0;
  margin-bottom: 1.618em;
}

.hero > * > p {
  font-size: calc(25.5em / 108);
  margin-bottom: 1em;
}

p:last-of-type {
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

.emphasized {
  letter-spacing: calc(-2.27rem / 25.5);
  font-style: italic;
  font-weight: 600;
}

.cover > * > .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cover > * > .content > div {
  width: 85%;
}

.cover > * > * > h3 {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: right;
  transform: rotate(180deg);
  margin: calc(34rem / 25.5) calc(89rem / 25.5);
  margin-left: 0;
}

#philosophy {
  background: linear-gradient(var(--deep-depression-cherry), #211115);
}

#theory {
  background: linear-gradient(#211115, var(--black-carbon), var(--black-carbon));
}