a {
  text-decoration: none;
  font-family: 'Futura', 'Arial',
    sans-serif;
  font-weight: 500;
  letter-spacing: calc(-49.5/1000 * 1rem);
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Futura', 'Arial',
    sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: calc(-5.94em / 108);
  text-transform: lowercase;
  margin: 0;
  margin-bottom: calc(21em / 108);
}

h2 {
  font-size: calc(66.75em / 108);
  font-weight: 400;
  line-height: calc(89em / 66.75);
  margin: 0;
  margin-bottom: calc(55em / 66.75);
}

h2:last-child {
  margin-bottom: 0;
}

h3 {
  color: var(--warm-neutral);
  font-family: 'Futura', 'Arial',
    sans-serif;
  font-weight: 500;
  font-size: 0.382em;
  line-height: 1em;
  text-transform: lowercase;
  margin: 0;
  margin-bottom: calc(21em / 108);
}

h3.condensed {
  font-family: 'Futura-CondensedMedium';
}

p {
  color: var(--warm-neutral);
  font-size: calc(34em / 108);
  line-height: calc(1.618em);
  margin: 0;
  margin-bottom: 1.618em;
}

.hero > * > p {
  font-size: 1rem;
  margin-bottom: 1em;
}

p:last-of-type {
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

.light {
  font-weight: 300;
}

em {
  letter-spacing: calc(-2.27rem / 25.5);
  font-style: italic;
  font-weight: 600;
}

section {
  padding-left: calc(172px * 0.9);
  padding-right: calc(172px * 0.9);
  font-size: calc(108rem / 25.5);
}

section:first-child {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.hero {
  background-color: var(--deep-depression-cherry);
}

.hero > div {
  width: 50%;
}

.hero > .column {
  width: 38.2%;
  padding: calc(144rem / 25.5) 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: calc(144rem / 25.5) 0 0;
}

.content {
  width: 85%;
}

.group-cover {
  padding-bottom: calc(144rem / 25.5);
  align-items: baseline;
}

.group-cover > .content {
  width: 80%;
}

section:last-child > .container:last-child {
  padding-bottom: calc(144rem / 25.5);
}

.sub {
  display: block;
}

.sub > p:last-of-type {
  margin-bottom: calc(55rem / 25.5);
}

.title {
  margin: calc(21rem / 25.5) calc(55rem / 25.5) 0 0;
}

.cover > * > * > .title {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: right;
  transform: rotate(180deg);
  letter-spacing: calc(5.94rem / 25.5);
  margin: calc(34rem / 25.5) calc(89rem / 25.5);
  margin-left: 0;
}

.divider {
  width: 100%;
  letter-spacing: calc(5.94rem / 25.5);
  padding: calc(34rem / 25.5) 0;
  margin-bottom: calc(55rem / 25.5);
  border-top: 1.71px solid var(--aluminum);
  border-bottom: 1.71px solid var(--aluminum);
}

.card-container {
  display: flex;
  justify-content: space-between;
  column-gap: calc(34rem / 25.5);
}

.card {
  flex: 1 1 0;
  padding: calc(34rem / 25.5);
  padding-bottom: calc(89rem / 25.5);
  border: 1.71px solid var(--aluminum);
  border-radius: calc(44.5rem / 25.5);
}

.color-container {
  flex-wrap: wrap;
  row-gap: calc(34rem / 25.5);
}

.color {
  padding: calc(34rem / 25.5);
  border-radius: calc(22.5rem / 25.5);
  height: calc(309rem / 25.5);
  flex: 1 1 calc(20% - (4 * 34rem / 25.5) - (2 * 34rem / 25.5));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color:first-of-type {
  flex: 0 1 calc(61.8% - (2 * 34rem / 25.5) - (2 * 34rem / 25.5));
}

.color:nth-of-type(2), .color:nth-of-type(3) {
  flex: 1 0 calc(((38.2% - (2 * 34rem / 25.5)) / 2) - (2 * 34rem / 25.5));
}

.color:nth-of-type(4), .color:nth-of-type(5) {
  flex: 1 1 calc(50% - (34rem / 25.5) - (2 * 34rem / 25.5));
}

.color > p, .color > * > p {
  font-size: 1rem;
}

.font-tester {
  display: flex;
  flex-direction: column;
}

.select-container {
  display: flex;
  column-gap: calc(34rem / 25.5);
  margin-bottom: calc(55rem / 25.5);
}

select, textarea {
  background-color: var(--black-carbon);
  color: var(--warm-neutral);
  border: 1.71px solid var(--aluminum);
  border-radius: calc(22.5rem / 25.5);
  margin: 0;
}

select:focus, textarea:focus {
  outline: none;
}

select, option {
  flex: 1 1 calc(100% - ((3 * 34rem) / 25.5));
  height: calc(89rem / 25.5);
  font-family: 'Arboria', 'Arial', sans-serif;
  font-weight: 500;
  font-size: calc(42rem / 25.5);
  text-transform: lowercase;
  padding: 0 calc(34rem / 25.5);
  white-space: normal;
  -webkit-appearance: none;
  display: flex;
  justify-content: space-between;
}

select::-ms-expand { 
  display: none; 
}

select {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.4.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 55 55' width='49.5' height='49.5' enable-background='new 0 0 55 55' xml:space='preserve'%3E%3Cpolyline id='hamburger-top_00000119117969351191531590000016386305308768717487_' fill='none' stroke='%23FFFFFF' stroke-width='1.8889' stroke-miterlimit='10' points=' 40.8,20.9 27.5,34.1 14.2,20.9 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right center; 
  background-position: calc(100% - (21rem / 25.5)) center;
  background-size: auto 61.8%;
}

textarea {
  width: calc(100% - ((2 * 34rem) / 25.5));
  padding: calc(21rem / 25.5) calc(34rem / 25.5);
  resize: none;
  height: auto;
}

textarea::placeholder {
  color: var(--warm-neutral);
}

#philosophy {
  background: linear-gradient(var(--deep-depression-cherry), #211115);
}

#theory {
  background: linear-gradient(#211115, var(--black-carbon), var(--black-carbon));
}

.swatch-container {
  padding: 0;
  margin: 0;
  margin-bottom: calc(55rem / 25.5);
  line-height: 0;
}

.swatch {
  display: inline-block;
  width: calc(55rem / 25.5);
  height: calc(55rem / 25.5);
  border: calc(1.89px * 0.9) solid #535353;
  border-radius: calc(55rem / 25.5);
  margin-right: calc(21rem / 25.5);
}

.swatch:hover {
  cursor: pointer;
}

.logo-container {
  border: calc(1.89px * 0.9) solid var(--aluminum);
  border-radius: calc(55rem / 25.5);
  width: 100%;
  max-height: 53vh;
}