:root {
  /* Colors: */
  --blonde-green: #21A685;
  --awaken-my-love-blue: #36BDD9;
  --crazysexycool-orange: #E65845;
  --cool-neutral: #EDEAE6;
  --blkswn-rose: #DF195D;
  --aluminum: #333333;
  --carbon: #272727;
  --black-carbon: #161616;
  --forest-hills-drive: #034034;
  --s-o-s-navy: #091D2B;
  --faith-blue: #07314D;
  --deep-depression-cherry: #2B060F;
  --white: #FFFFFF;
  --warm-neutral: #E6E0D8;
  }

html, body {
  margin: 0;
  background: var(--black-carbon);
  color: var(--white);
  font-family: 'Arboria', 'Arial',
    sans-serif;
  font-size: 22.95px;
}

::selection {
  background: var(--blonde-green);
}

::-webkit-selection {
  background: var(--blonde-green);
}

::-moz-selection {
  background: var(--blonde-green);
}