nav, .hamburger-container {
    z-index: 997;
    height: 166.5px;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
}

nav:last-of-type, .hamburger-container {
    right: 0;
    margin-right: calc(55rem / 25.5);
}

nav:first-of-type {
    left: 0;
    margin-right: calc(55rem / 25.5);
}

.logo-container {
    display: block;
    margin-left: calc(55rem / 25.5);
    margin-right: calc(34rem / 25.5);
}

.hamburger-container {
    z-index: 999;
    height: calc(166.5px * 0.85);
}

.nav-item {
    position: relative;
    margin-left: calc(34rem / 25.5);
    padding: calc(34rem / 25.5) 0rem;
}

nav:first-of-type > * > .nav-item {
    margin-left: 0;
}

.nav-title {
    color: var(--blkswn-rose);
    font-weight: 600;
}

.nav-title:visited {
    color: var(--blkswn-rose);
}

.nav-link {
    color: var(--white);
    opacity: 0.75;
    font-weight: 500;
    white-space: nowrap;
}

.active-link,
.nav-link:hover {
    opacity: 1;
}

.nav-dropdown {
    position: absolute;
    z-index: 997;
    display: flex;
    column-gap: 1.3333rem;
    padding: calc(17rem / 22.95) 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav-dropdown-last {
    transform: revert;
    justify-content: flex-end;
    left: auto;
    right: 0;
}

nav:first-of-type > * > * > .nav-dropdown {
    /* first dropdown */
    transform: revert;
    justify-content: flex-start;
    left: 0;
}

.nav-dropdown-link {
    padding: 0;
}

.menu {
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: var(--carbon);
    box-shadow: calc(-21rem / 25.5) 0 calc(34rem / 25.5) rgb(0 0 0 / 0.2);
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu > .nav-link {
    margin: 0 calc(55rem / 25.5);
    padding-left: calc(8rem / 25.5);
    padding-right: calc(34rem / 25.5);
    flex: 1 0 calc(55rem / 25.5);
    display: flex;
    align-items: center;
}

.menu > .nav-link:hover {
    background-color: var(--aluminum);
    border-radius: calc(10.5rem / 25.5);
}

.menu > .link-sub {
    padding-left: calc(34rem / 25.5);
}